@import 'colour';
@import 'font';

html {
  font-family: $font-main;
  background-color: $white;
  color: $black;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app__panel {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  padding: 15px 40px 30px 40px;
}

.balance-view {
  margin: 0 5px 15px 5px;
  padding: 0 12px 0 12px;
}

.balance-view__title {
  font-size: 0.9em;
  margin-bottom: 15px;
}

.balance-view__table {
  margin-left: 10px;
}

.balance-view__label {
  font-weight: 600;
  padding-right: 10px;
}

.balance-view__value {
  font-size: 0.9em;
}

.trade-view {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  padding: 0 8px 0 8px;
}

.trade-view__title {
  font-size: 0.9em;
  margin-left: 10px;
  margin-bottom: 7px;
}

.trade-view__label {
  font-weight: 600;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  padding: 7px 0 7px 20px;
  margin-bottom: 20px;
}

.trade-view__input {
  font-family: inherit;
  background-color: inherit;
  color: $black;
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  padding: 7px 0 7px 20px;

  &::placeholder {
    color: black;
    opacity: 1;
  }
}

.trade-view__value {
  border-style: solid;
  border-color: $black;
  border-width: 1px;
  padding: 7px 0 7px 20px;
}

.trade-view__error {
  height: 10px;
  font-size: 0.7em;
  color: $bright-red;
  padding-left: 5px;
}

.button {
  cursor: pointer;
  background-color: $bright-blue;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-style: none;
  padding: 15px 0 15px 0;
  margin-top: 5px;

  &::-moz-focus-inner {
    border: 0;
  }
}
